@import './utils/mixins';
@import './utils/vars';

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Regular.eot');
  src:
    local('Gilroy Regular'),
    url('../assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Bold.eot');
  src:
    local('Gilroy Bold'),
    url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Light.eot');
  src:
    local('Gilroy Light'),
    url('../assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Semibold.eot');
  src:
    local('Gilroy-Semibold'),
    url('../assets/fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Medium.eot');
  src:
    local('Gilroy-Medium'),
    url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: 'Gilroy', sans-serif; // add imported font family here, for example, 'Roboto' from google fonts
  font-size: 10px;
  scroll-behavior: smooth; // delete if you dont need it

  // mixins for example

  /* @include onDesktopSmall {
    font-size: 9px;
  }

  @include onDesktopMini {
    font-size: 7px;
  }

  @include onTablet {
    font-size: 10px;
  } */
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif; // add imported font family here, for example, 'Roboto' from google fonts
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}
