<header class="header">
  <nav class="page__nav nav">
    <div class="nav__content">
      <div class="nav__logo">
        <a href="#main-screen">
          <img
            class="nav__logo__image"
            src="src/assets/icons/bad-guest-logo.svg"
            alt="Bad Guest Logo"
          />
        </a>
      </div>

      <ul class="nav__list">
        <li class="nav__item nav__item--underline">
          <a href="#main-screen" class="nav__link">Account</a>
        </li>

        <li class="nav__item nav__item--underline">
          <a href="#main-screen" class="nav__link">FAQs</a>
        </li>

        <li class="nav__item nav__item--underline">
          <a href="#main-screen" class="nav__link">Add a guest</a>
        </li>

        <li class="nav__item nav__item--underline">
          <a href="#main-screen" class="nav__link">Find a guest</a>
        </li>
      </ul>

      <div class="nav__buttons">
        <div class="nav__button button">
          <a href="" class="button__link button__link--outline">Sign up</a>
        </div>

        <div class="nav__button button">
          <a href="" class="button__link">Log in</a>
        </div>
      </div>
    </div>
  </nav>
</header>
